.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
 background-color: white;
 display: inline-block;
 text-align: center;
 width: 3em;
 font-size: 2em;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 margin: 1em;
 user-select: none;
}

.App-instruct {
  background-color: #000080;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.activeCard {
 color: white;
 background: blue;
}

.bg {
 background: #191970;
}

.border {
 min-height: 0.5vh;
 background: #A9A9A9;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
